DataGridViewVirtualModePaging/DataGridViewVirtualModePaging/Service References/RentalCore/RentalCore1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://amiravrn.ru/RentalCore.RentalCore.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://amiravrn.ru/RentalCore.RentalCore.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DAL" />
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="data" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="remotePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="DownloadFileResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlatList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterBy" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="sortBy" type="xs:int" />
        <xs:element minOccurs="0" name="orderBy" type="xs:boolean" />
        <xs:element minOccurs="0" name="activePage" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FlatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activePage" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="flats" nillable="true" type="q3:ArrayOfflat_info" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="totalRowsNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>