DataGridViewVirtualModePaging/DataGridViewVirtualModePaging/Service References/RentalCore/RentalCore4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfflat_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="flat_info" nillable="true" type="tns:flat_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfflat_info" nillable="true" type="tns:ArrayOfflat_info" />
  <xs:complexType name="flat_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BATH_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COOLER" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DATA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FLOOR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FRIDGE" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FURNITURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LESSOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LINK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MECHANIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENT_FROM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RENT_TO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ROOM_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TERM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TV" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="WASHER" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="flat_info" nillable="true" type="tns:flat_info" />
</xs:schema>