Rental/Service References/RentalCore/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfview_flat_info">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="view_flat_info" nillable="true" type="tns:view_flat_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfview_flat_info" nillable="true" type="tns:ArrayOfview_flat_info" />
  <xs:complexType name="view_flat_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BATH_UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BUILD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CATEGORY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COOLER" type="xs:boolean" />
      <xs:element minOccurs="0" name="DATA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOOR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FRIDGE" type="xs:boolean" />
      <xs:element minOccurs="0" name="FURNITURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LESSOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LINK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REGION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENT_FROM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RENT_TO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ROOM_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TERM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TV" type="xs:boolean" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WASHER" type="xs:boolean" />
      <xs:element minOccurs="0" name="bathunit_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="buld_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="category_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lessor_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="payment_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="region_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rent_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="state_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="term_type_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="view_flat_info" nillable="true" type="tns:view_flat_info" />
  <xs:complexType name="flat_info">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COOLER" type="xs:boolean" />
      <xs:element minOccurs="0" name="DATA" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLOOR" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FRIDGE" type="xs:boolean" />
      <xs:element minOccurs="0" name="FURNITURE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LINK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRICE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RENT_FROM" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RENT_TO" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ROOM_COUNT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TV" type="xs:boolean" />
      <xs:element minOccurs="0" name="WASHER" type="xs:boolean" />
      <xs:element minOccurs="0" name="bathunit_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="buld_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="category_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="lessor_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="payment_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="region_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rent_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="state_type_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="term_type_id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="flat_info" nillable="true" type="tns:flat_info" />
  <xs:complexType name="ArrayOfimage_list">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="image_list" nillable="true" type="tns:image_list" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfimage_list" nillable="true" type="tns:ArrayOfimage_list" />
  <xs:complexType name="image_list">
    <xs:sequence>
      <xs:element minOccurs="0" name="FLAT_ID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IMAGE_PATH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flat_info" nillable="true" type="tns:flat_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="image_list" nillable="true" type="tns:image_list" />
  <xs:complexType name="ArrayOfblack_list">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="black_list" nillable="true" type="tns:black_list" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfblack_list" nillable="true" type="tns:ArrayOfblack_list" />
  <xs:complexType name="black_list">
    <xs:sequence>
      <xs:element minOccurs="0" name="COMMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="STOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE_ID" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="black_list" nillable="true" type="tns:black_list" />
</xs:schema>