Rental/Service References/RentalCore/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentalCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentalCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:Filter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilter" nillable="true" type="tns:ArrayOfFilter" />
  <xs:complexType name="Filter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comparator" type="tns:ComapreType" />
      <xs:element minOccurs="0" name="EndValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field" type="tns:Fiels" />
      <xs:element minOccurs="0" name="StartValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filter" nillable="true" type="tns:Filter" />
  <xs:simpleType name="ComapreType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="MORE" />
      <xs:enumeration value="LESS" />
      <xs:enumeration value="BETWEEN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ComapreType" nillable="true" type="tns:ComapreType" />
  <xs:simpleType name="Fiels">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="DATA" />
      <xs:enumeration value="ROOM_COUNT" />
      <xs:enumeration value="ADDRESS" />
      <xs:enumeration value="FLOOR" />
      <xs:enumeration value="BATH_UNIT" />
      <xs:enumeration value="BUILD" />
      <xs:enumeration value="FURNITURE" />
      <xs:enumeration value="STATE" />
      <xs:enumeration value="MECHANIC" />
      <xs:enumeration value="NAME" />
      <xs:enumeration value="PRICE" />
      <xs:enumeration value="PHONE" />
      <xs:enumeration value="COMMENT" />
      <xs:enumeration value="CONTENT" />
      <xs:enumeration value="LINK" />
      <xs:enumeration value="TERM" />
      <xs:enumeration value="RENT_FROM" />
      <xs:enumeration value="RENT_TO" />
      <xs:enumeration value="LESSOR" />
      <xs:enumeration value="FRIDGE" />
      <xs:enumeration value="TV" />
      <xs:enumeration value="WASHER" />
      <xs:enumeration value="COOLER" />
      <xs:enumeration value="REGION" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Fiels" nillable="true" type="tns:Fiels" />
</xs:schema>