Rental/Service References/RentalCore/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentalCommon" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentalCommon" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/RentalCore/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8732/RentalCore/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DAL" />
  <xs:complexType name="ArrayOfFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filter" nillable="true" type="tns:Filter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilter" nillable="true" type="tns:ArrayOfFilter" />
  <xs:complexType name="Filter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comparator" type="tns:ComapreType" />
      <xs:element minOccurs="0" name="EndValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Field" type="tns:Fields" />
      <xs:element minOccurs="0" name="StartValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filter" nillable="true" type="tns:Filter" />
  <xs:simpleType name="ComapreType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="MORE" />
      <xs:enumeration value="LESS" />
      <xs:enumeration value="BETWEEN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ComapreType" nillable="true" type="tns:ComapreType" />
  <xs:simpleType name="Fields">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NONE" />
      <xs:enumeration value="ID" />
      <xs:enumeration value="DATA" />
      <xs:enumeration value="ROOM_COUNT" />
      <xs:enumeration value="ADDRESS" />
      <xs:enumeration value="FLOOR" />
      <xs:enumeration value="BATH_UNIT" />
      <xs:enumeration value="BUILD" />
      <xs:enumeration value="FURNITURE" />
      <xs:enumeration value="STATE" />
      <xs:enumeration value="MECHANIC" />
      <xs:enumeration value="NAME" />
      <xs:enumeration value="PRICE" />
      <xs:enumeration value="PHONE" />
      <xs:enumeration value="COMMENT" />
      <xs:enumeration value="CONTENT" />
      <xs:enumeration value="LINK" />
      <xs:enumeration value="TERM" />
      <xs:enumeration value="RENT_FROM" />
      <xs:enumeration value="RENT_TO" />
      <xs:enumeration value="LESSOR" />
      <xs:enumeration value="FRIDGE" />
      <xs:enumeration value="TV" />
      <xs:enumeration value="WASHER" />
      <xs:enumeration value="COOLER" />
      <xs:enumeration value="REGION" />
      <xs:enumeration value="EMAIL" />
      <xs:enumeration value="CATEGORY" />
      <xs:enumeration value="TYPE" />
      <xs:enumeration value="PAYMENT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Fields" nillable="true" type="tns:Fields" />
  <xs:complexType name="SearchQuery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ascending" type="xs:boolean" />
      <xs:element minOccurs="0" name="Filters" nillable="true" type="tns:ArrayOfFilter1" />
      <xs:element minOccurs="0" name="Page" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="SortField" type="tns:Fields" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchQuery" nillable="true" type="tns:SearchQuery" />
  <xs:complexType name="ArrayOfFilter1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Filter1" nillable="true" type="tns:Filter1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFilter1" nillable="true" type="tns:ArrayOfFilter1" />
  <xs:complexType name="Filter1">
    <xs:sequence>
      <xs:element minOccurs="0" name="Field" type="tns:Fields" />
      <xs:element minOccurs="0" name="FilterCondition" type="tns:FilterConditions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Filter1" nillable="true" type="tns:Filter1" />
  <xs:simpleType name="FilterConditions">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MORE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LESS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="EQUAL">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CONTAIN">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FilterConditions" nillable="true" type="tns:FilterConditions" />
  <xs:complexType name="SearchResultOfflat_infowaVWVNS2">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SearchResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/RentalCommon" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="flat_info" Namespace="http://schemas.datacontract.org/2004/07/DAL" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfflat_info" />
      <xs:element minOccurs="0" name="TotallCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultOfflat_infowaVWVNS2" nillable="true" type="tns:SearchResultOfflat_infowaVWVNS2" />
</xs:schema>