Rental/Service References/RentalCore/RentalCore.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RentalCore" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/RentalCore/?xsd=xsd1" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/RentalCore/?xsd=xsd0" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost:8732/RentalCore/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/RentalCore/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RentalCommon" />
      <xsd:import schemaLocation="http://localhost:8732/RentalCore/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRentalCore_Upload_InputMessage">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_Upload_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_DownloadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_DownloadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatList_InputMessage">
    <wsdl:part name="parameters" element="tns:FlatList" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatList_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlatListResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatByUrl_InputMessage">
    <wsdl:part name="parameters" element="tns:FlatByUrl" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatByUrl_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlatByUrlResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatById_InputMessage">
    <wsdl:part name="parameters" element="tns:FlatById" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlatByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:FlatAdd" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlatAddResponse" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:FlatUpdate" />
  </wsdl:message>
  <wsdl:message name="IRentalCore_FlatUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FlatUpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IRentalCore">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalCore/Upload" message="tns:IRentalCore_Upload_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalCore/UploadResponse" message="tns:IRentalCore_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalCore/DownloadFile" message="tns:IRentalCore_DownloadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalCore/DownloadFileResponse" message="tns:IRentalCore_DownloadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FlatList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalCore/FlatList" message="tns:IRentalCore_FlatList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalCore/FlatListResponse" message="tns:IRentalCore_FlatList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FlatByUrl">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalCore/FlatByUrl" message="tns:IRentalCore_FlatByUrl_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalCore/FlatByUrlResponse" message="tns:IRentalCore_FlatByUrl_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FlatById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalCore/FlatById" message="tns:IRentalCore_FlatById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalCore/FlatByIdResponse" message="tns:IRentalCore_FlatById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FlatAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalCore/FlatAdd" message="tns:IRentalCore_FlatAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalCore/FlatAddResponse" message="tns:IRentalCore_FlatAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FlatUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentalCore/FlatUpdate" message="tns:IRentalCore_FlatUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentalCore/FlatUpdateResponse" message="tns:IRentalCore_FlatUpdate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRentalCore" type="tns:IRentalCore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IRentalCore/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/IRentalCore/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlatList">
      <soap:operation soapAction="http://tempuri.org/IRentalCore/FlatList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlatByUrl">
      <soap:operation soapAction="http://tempuri.org/IRentalCore/FlatByUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlatById">
      <soap:operation soapAction="http://tempuri.org/IRentalCore/FlatById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlatAdd">
      <soap:operation soapAction="http://tempuri.org/IRentalCore/FlatAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FlatUpdate">
      <soap:operation soapAction="http://tempuri.org/IRentalCore/FlatUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentalCore">
    <wsdl:port name="BasicHttpBinding_IRentalCore" binding="tns:BasicHttpBinding_IRentalCore">
      <soap:address location="http://localhost:8732/RentalCore/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>