rec/Service References/RentalApi/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DAL" />
  <xs:element name="GetFlatList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortBy" type="xs:int" />
        <xs:element minOccurs="0" name="orderBy" type="xs:boolean" />
        <xs:element minOccurs="0" name="activePage" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFlatListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="GetFlatListResult" nillable="true" type="q1:flat_info" />
        <xs:element minOccurs="0" name="activePage" type="xs:int" />
        <xs:element minOccurs="0" name="pageCount" type="xs:int" />
        <xs:element minOccurs="0" name="totalRowsNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>